.bg-black { background-color: black;}
.bg-white { background-color: #ffffff;}
.bg-purple { background-color: #58009E;}
.bg-grey { background-color: #B0B6C0;}
.bg-green { color: #D5FF40;}
.text-white { color: #ffffff;}
.text-black { color: black;}
.text-green { color: #D5FF40;}
.h1{font-size: 218px;}
.h2{font-size: 70px;}
.h3{font-size: 42px;}
.h4{font-size: 32px;}
.h5{ font-size: 18px;}
.p {font-size: 16px;}
.span {font-size: 14px;}
.font-large { font-size: 24px;}
.font-small {font-size: 16px;}
.font-ex-small{ font-size: 14px;}

.header .container .content {
    width: 1440px;
    height: 90px;
}